body{
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}

header{
    div{
        background-color: #101b1b;
        padding: 1rem;
        display: flex;
        h1{
            margin: 0 8rem;
            color: white;
        }
        ul{
            align-self: center;
            list-style: none;
            margin: 0;
            display: flex;
            justify-content: center;
            width: 51.5%;
            li{
                margin: 0 2rem;
                a{
                    text-decoration: none;
                    color: rgb(99, 99, 99);
                }
                .active{
                    color: white;
                }
            }
        }
    }
}

section.home{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(143, 91, 71);

    article{
        width: calc((100% / 5) - 3rem);
        margin: 1rem;
        border: 1px solid black;
        background-color: bisque;
        div{
            padding-left: 1rem;
            h1{
                text-align: center;
                text-transform: uppercase;
                font-size: 1.5rem;
            }
        }
        img{
            width: 100%;
            height: 15rem;

        }
        button{
            padding: .5rem;
            margin: .5rem 0 .5rem 7rem;
            background-color: rgb(233, 235, 238);
            border-radius: 1rem;
            a{
                text-decoration: none;
                color: black;
            }
        }
    }

}


section.show{
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(143, 91, 71);
img{
    width: 30rem;
}
section{
    background-color: bisque;
    width: 30rem;
    h1{
        text-align: center;
        text-transform: uppercase;
        font-size: 1.5rem;
    }
    p{
        padding-left: 2rem;
    }
}
button{
    padding: .5rem;
    margin: 3rem 0;
    background-color: rgb(203, 209, 223);
    border-radius: 1rem;
    a{
        text-decoration: none;
        color: black;
    }
}
}


section.create{
    background-color: rgb(143, 91, 71);
    height: calc(100vh - 60px);
    .container {
        padding-top: 7rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        }

        .form_area {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #EDDCD9;
        height: auto;
        width: 1250px;
        border: 2px solid #264143;
        border-radius: 20px;
        box-shadow: 3px 4px 0px 1px #E99F4C;
        }

        form.all_form{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .title {
        color: #264143;
        font-weight: 900;
        font-size: 1.5em;
        margin-top: 20px;
        }

        .sub_title {
        font-weight: 600;
        margin: 5px 0;
        }

        .form_group {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
        width: calc((100% / 2) - 3rem);
        }

        .form_style {
        outline: none;
        border: 2px solid #264143;
        box-shadow: 3px 4px 0px 1px #E99F4C;
        width: 290px;
        padding: 12px 10px;
        border-radius: 4px;
        font-size: 15px;
        }

        .form_style:focus, .btn:focus {
        transform: translateY(4px);
        box-shadow: 1px 2px 0px 0px #E99F4C;
        }

        .btn {
        padding: 15px;
        margin: 25px 30px;
        width: 100px;
        font-size: 15px;
        background: #aadf9a;
        border-radius: 10px;
        font-weight: 800;
        box-shadow: 3px 3px 0px 0px #E99F4C;
    }

        .reset{
            background: rgb(255, 255, 170);
        }
        .btn:hover {
        opacity: .9;
        }

        .link {
        font-weight: 800;
        color: #264143;
        padding: 5px;
        }
}
